<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.anjoy.pm.task.dao.ThinkTaskDao">

	<select id="get" resultType="com.anjoy.pm.task.domain.ThinkTaskDO">
		select `id`,`task_pid`,`task_name`,`task_desc`,`task_level`,`task_beg`,`task_end`,`task_state`,`task_delay`,`task_udc`,`task_deleted`,`task_hours`,`creater_id`,`create_time`,`task_time`,`delay_time`,`lable_id`,`msggroup_id`,`task_bi_flag`,`task_bi_flag_type`,`tmp_import`,`back_state`,`ispm`,`filenames`,`isdeploy` from think_task where id = #{value}
	</select>

	<select id="list" resultType="com.anjoy.pm.task.domain.ThinkTaskDO">
		select `id`,`task_pid`,`task_name`,`task_desc`,`task_level`,`task_beg`,`task_end`,`task_state`,`task_delay`,`task_udc`,`task_deleted`,`task_hours`,`creater_id`,`create_time`,`task_time`,`delay_time`,`lable_id`,`msggroup_id`,`task_bi_flag`,`task_bi_flag_type`,`tmp_import`,`back_state`,`ispm`,`filenames`,`isdeploy` from think_task
        <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="taskPid != null and taskPid != ''"> and task_pid = #{taskPid} </if>
		  		  <if test="taskName != null and taskName != ''"> and task_name = #{taskName} </if>
		  		  <if test="taskDesc != null and taskDesc != ''"> and task_desc = #{taskDesc} </if>
		  		  <if test="taskLevel != null and taskLevel != ''"> and task_level = #{taskLevel} </if>
		  		  <if test="taskBeg != null and taskBeg != ''"> and task_beg = #{taskBeg} </if>
		  		  <if test="taskEnd != null and taskEnd != ''"> and task_end = #{taskEnd} </if>
		  		  <if test="taskState != null and taskState != ''"> and task_state = #{taskState} </if>
		  		  <if test="taskDelay != null and taskDelay != ''"> and task_delay = #{taskDelay} </if>
		  		  <if test="taskUdc != null and taskUdc != ''"> and task_udc = #{taskUdc} </if>
		  		  <if test="taskDeleted != null and taskDeleted != ''"> and task_deleted = #{taskDeleted} </if>
		  		  <if test="taskHours != null and taskHours != ''"> and task_hours = #{taskHours} </if>
		  		  <if test="createrId != null and createrId != ''"> and creater_id = #{createrId} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		  <if test="taskTime != null and taskTime != ''"> and task_time = #{taskTime} </if>
		  		  <if test="delayTime != null and delayTime != ''"> and delay_time = #{delayTime} </if>
		  		  <if test="lableId != null and lableId != ''"> and lable_id = #{lableId} </if>
		  		  <if test="msggroupId != null and msggroupId != ''"> and msggroup_id = #{msggroupId} </if>
		  		  <if test="taskBiFlag != null and taskBiFlag != ''"> and task_bi_flag = #{taskBiFlag} </if>
		  		  <if test="taskBiFlagType != null and taskBiFlagType != ''"> and task_bi_flag_type = #{taskBiFlagType} </if>
		  		  <if test="tmpImport != null and tmpImport != ''"> and tmp_import = #{tmpImport} </if>
		  		  <if test="backState != null and backState != ''"> and back_state = #{backState} </if>
		  		  <if test="ispm != null and ispm != ''"> and ispm = #{ispm} </if>
		  		  <if test="filenames != null and filenames != ''"> and filenames = #{filenames} </if>
		  		  <if test="isdeploy != null and isdeploy != ''"> and isdeploy = #{isdeploy} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from think_task
		 <where>  
		  		  <if test="id != null and id != ''"> and id = #{id} </if>
		  		  <if test="taskPid != null and taskPid != ''"> and task_pid = #{taskPid} </if>
		  		  <if test="taskName != null and taskName != ''"> and task_name = #{taskName} </if>
		  		  <if test="taskDesc != null and taskDesc != ''"> and task_desc = #{taskDesc} </if>
		  		  <if test="taskLevel != null and taskLevel != ''"> and task_level = #{taskLevel} </if>
		  		  <if test="taskBeg != null and taskBeg != ''"> and task_beg = #{taskBeg} </if>
		  		  <if test="taskEnd != null and taskEnd != ''"> and task_end = #{taskEnd} </if>
		  		  <if test="taskState != null and taskState != ''"> and task_state = #{taskState} </if>
		  		  <if test="taskDelay != null and taskDelay != ''"> and task_delay = #{taskDelay} </if>
		  		  <if test="taskUdc != null and taskUdc != ''"> and task_udc = #{taskUdc} </if>
		  		  <if test="taskDeleted != null and taskDeleted != ''"> and task_deleted = #{taskDeleted} </if>
		  		  <if test="taskHours != null and taskHours != ''"> and task_hours = #{taskHours} </if>
		  		  <if test="createrId != null and createrId != ''"> and creater_id = #{createrId} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		  <if test="taskTime != null and taskTime != ''"> and task_time = #{taskTime} </if>
		  		  <if test="delayTime != null and delayTime != ''"> and delay_time = #{delayTime} </if>
		  		  <if test="lableId != null and lableId != ''"> and lable_id = #{lableId} </if>
		  		  <if test="msggroupId != null and msggroupId != ''"> and msggroup_id = #{msggroupId} </if>
		  		  <if test="taskBiFlag != null and taskBiFlag != ''"> and task_bi_flag = #{taskBiFlag} </if>
		  		  <if test="taskBiFlagType != null and taskBiFlagType != ''"> and task_bi_flag_type = #{taskBiFlagType} </if>
		  		  <if test="tmpImport != null and tmpImport != ''"> and tmp_import = #{tmpImport} </if>
		  		  <if test="backState != null and backState != ''"> and back_state = #{backState} </if>
		  		  <if test="ispm != null and ispm != ''"> and ispm = #{ispm} </if>
		  		  <if test="filenames != null and filenames != ''"> and filenames = #{filenames} </if>
		  		  <if test="isdeploy != null and isdeploy != ''"> and isdeploy = #{isdeploy} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.anjoy.pm.task.domain.ThinkTaskDO" useGeneratedKeys="true" keyProperty="id">
		insert into think_task
		(
			`task_pid`, 
			`task_name`, 
			`task_desc`, 
			`task_level`, 
			`task_beg`, 
			`task_end`, 
			`task_state`, 
			`task_delay`, 
			`task_udc`, 
			`task_deleted`, 
			`task_hours`, 
			`creater_id`, 
			`create_time`, 
			`task_time`, 
			`delay_time`, 
			`lable_id`, 
			`msggroup_id`, 
			`task_bi_flag`, 
			`task_bi_flag_type`, 
			`tmp_import`, 
			`back_state`, 
			`ispm`, 
			`filenames`, 
			`isdeploy`
		)
		values
		(
			#{taskPid}, 
			#{taskName}, 
			#{taskDesc}, 
			#{taskLevel}, 
			#{taskBeg}, 
			#{taskEnd}, 
			#{taskState}, 
			#{taskDelay}, 
			#{taskUdc}, 
			#{taskDeleted}, 
			#{taskHours}, 
			#{createrId}, 
			#{createTime}, 
			#{taskTime}, 
			#{delayTime}, 
			#{lableId}, 
			#{msggroupId}, 
			#{taskBiFlag}, 
			#{taskBiFlagType}, 
			#{tmpImport}, 
			#{backState}, 
			#{ispm}, 
			#{filenames}, 
			#{isdeploy}
		)
	</insert>
	 
	<update id="update" parameterType="com.anjoy.pm.task.domain.ThinkTaskDO">
		update think_task 
		<set>
			<if test="taskPid != null">`task_pid` = #{taskPid}, </if>
			<if test="taskName != null">`task_name` = #{taskName}, </if>
			<if test="taskDesc != null">`task_desc` = #{taskDesc}, </if>
			<if test="taskLevel != null">`task_level` = #{taskLevel}, </if>
			<if test="taskBeg != null">`task_beg` = #{taskBeg}, </if>
			<if test="taskEnd != null">`task_end` = #{taskEnd}, </if>
			<if test="taskState != null">`task_state` = #{taskState}, </if>
			<if test="taskDelay != null">`task_delay` = #{taskDelay}, </if>
			<if test="taskUdc != null">`task_udc` = #{taskUdc}, </if>
			<if test="taskDeleted != null">`task_deleted` = #{taskDeleted}, </if>
			<if test="taskHours != null">`task_hours` = #{taskHours}, </if>
			<if test="createrId != null">`creater_id` = #{createrId}, </if>
			<if test="createTime != null">`create_time` = #{createTime}, </if>
			<if test="taskTime != null">`task_time` = #{taskTime}, </if>
			<if test="delayTime != null">`delay_time` = #{delayTime}, </if>
			<if test="lableId != null">`lable_id` = #{lableId}, </if>
			<if test="msggroupId != null">`msggroup_id` = #{msggroupId}, </if>
			<if test="taskBiFlag != null">`task_bi_flag` = #{taskBiFlag}, </if>
			<if test="taskBiFlagType != null">`task_bi_flag_type` = #{taskBiFlagType}, </if>
			<if test="tmpImport != null">`tmp_import` = #{tmpImport}, </if>
			<if test="backState != null">`back_state` = #{backState}, </if>
			<if test="ispm != null">`ispm` = #{ispm}, </if>
			<if test="filenames != null">`filenames` = #{filenames}, </if>
			<if test="isdeploy != null">`isdeploy` = #{isdeploy}</if>
		</set>
		where id = #{id}
	</update>
	
	<delete id="remove">
		delete from think_task where id = #{value}
	</delete>
	
	<delete id="batchRemove">
		delete from think_task where id in 
		<foreach item="id" collection="array" open="(" separator="," close=")">
			#{id}
		</foreach>
	</delete>

</mapper>